@font-face {
    font-family: "Imprint MT Shadow";
    src: url("./fonts/ImprintMT-Shadow.eot"), url("./fonts/ImprintMT-Shadow.woff2") format("woff2"), url("./fonts/ImprintMT-Shadow.woff") format("woff"), url("./fonts/ImprintMT-Shadow.ttf") format("truetype");
}

html {
    box-sizing: border-box;
    background: #eee;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-width: 320px;
    font-family: "Times New Roman", Georgia, serif;
    color: #222;
    overflow: auto;
}

h1 {
    font-family: "Imprint MT Shadow";
    text-transform: uppercase;
    font-size: 96px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1.5px solid #222;
}

.content-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    background: #f4dfc2;
    border: 1px solid #222;
}


/* Main header styles */

header {
    margin-bottom: 0.5em;
}

header#mainHeader {
    flex-basis: 100%;
    margin-bottom: 1em;
}

header#mainHeader p {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.7em;
    border-bottom: 1.5px solid #222;
}

nav {
    text-align: center;
    border-bottom: 2px solid #222;
}

nav ul li {
    display: inline;
    padding: 0 10px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #222;
    line-height: 1.7em;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul,
ul.menu {
    list-style: none;
}

header#mainHeader ul li a.active {
    text-decoration: underline;
}


/* Main news styles */

section#mainNews {
    flex-basis: 100%;
    margin-bottom: 1em;
}

section#mainNews h2 {
    text-transform: uppercase;
    font-size: 64px;
    text-align: center;
}

section#mainNews p {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
}


/* Important news styles */

main {
    flex-basis: 70%;
    padding: 0 10px;
    margin-bottom: 1em;
    border-right: 1.5px solid #222;
}

.importnantNewsSection {
    display: flex;
    flex-wrap: wrap;
}

main#importnantNews h3,
section#additionalNews h3 {
    font-size: 36px;
    line-height: 1.5em;
    text-align: center;
    border-bottom: 1.5px solid #222;
    margin-bottom: 0.3em;
}

main img {
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
}

main figcaption {
    color: #4d4d4d;
}

article#leftArticle {
    flex-basis: 35%;
    padding-right: 10px;
    border-right: 1px solid #222;
}

article p,
aside p {
    text-align: justify;
}

article#rightArticle {
    flex-basis: 65%;
    padding-left: 10px;
}

article#rightArticle section {
    padding-bottom: 1em;
}

main article#leftArticle header h4,
main article#rightArticle header h4,
section#additionalNews article header h4 {
    font-size: 28px;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1.5px solid #222;
}

section#additionalNews article header h4 {
    border-bottom: 1px solid #222;
}

main article h5 {
    font-size: 24px;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #222;
}

main article#leftArticle section header p {
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
}

main blockquote {
    font-size: 1.3em;
    line-height: 1.3;
    padding: 0.5em;
    border: 1px dashed #333;
    margin-top: 0.5em;
}

main blockquote footer {
    text-align: right;
    font-size: .9em;
}

main .author {
    font-style: normal;
}


/* Additional news styles */

.additionalPart {
    flex-basis: 30%;
}

section#additionalNews {
    padding: 0 10px;
}

section#additionalNews article,
section#additionalNews aside {
    margin: 0.5em 0;
}

section#additionalNews article img {
    width: 100%;
}

section#additionalNews aside {
    border: 1px solid #222;
}

section#additionalNews aside header h4 {
    background: #e1d8b9;
    font-size: 28px;
    text-align: center;
    padding: 0.2em 0;
    border-bottom: 1px solid #222;
}

section#additionalNews aside p {
    padding: 0.5em;
}

aside#adPost {
    font-size: 36px;
    background: #e1d8b9;
    margin: 10px;
}

aside#adPost h3 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    padding: 0.3em;
}

aside#adPost section header {
    margin: 0.2em;
    border-bottom: 1px solid #222;
    text-align: center;
}

aside#adPost section header h4 {
    font-size: 28px;
}

aside#adPost img {
    width: 100%;
    padding: 0 0.3em;
}

aside#adPost p {
    font-size: 16px;
    padding: 0 10px 10px 10px;
}

aside#adPost section.reviews {
    margin: 0.3em;
}

aside#adPost section.reviews p {
    padding: 10px;
    background: #c3cebc;
}

aside#adPost section.reviews h4 {
    text-align: center;
    padding-bottom: 0.2em;
}

section.reviews h5 {
    font-size: 20px;
    background: #4d4d4d;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: normal;
    padding: 10px;
    text-align: right;
}

section.reviews h5 span {
    font-weight: bold;
}


/* Footer styles */

footer#pageFooter {
    flex-basis: 100%;
    text-align: center;
    border-top: 1.5px solid #222;
    padding: 1em;
}

footer#pageFooter p b {
    text-transform: uppercase;
}

footer#pageFooter .contact-list {
    list-style-type: none;
    padding: 0;
}

footer#pageFooter .contact-list a {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    color: #222;
}

.topLink a {
    text-decoration: none;
    border: 1px solid #222;
}

footer#pageFooter .contact-list a:hover {
    text-decoration: none;
}

.topLink a:hover {
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.1);
}

footer#pageFooter p {
    margin-bottom: 0.5em;
}

footer#pageFooter small {
    font-style: italic;
}


/* Media queries */

@media screen and (min-width: 530px) {
    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 969.98px) {
    h1 {
        font-size: 84px;
    }
    header#mainHeader p time,
    header#mainHeader nav ul li a {
        font-size: 15px;
    }
    header#mainHeader nav ul li {
        padding: 0 7px;
    }
    section#mainNews h2 {
        font-size: 52px;
    }
    section#mainNews p {
        font-size: 36px;
    }
    main#importnantNews h3,
    section#additionalNews h3,
    aside#adPost h3 {
        font-size: 30px;
    }
    aside#adPost section header h4 {
        font-size: 26px;
    }
    main article#leftArticle header h4,
    main article#rightArticle header h4,
    section#additionalNews article header h4,
    section#additionalNews aside header h4 {
        font-size: 22px;
    }
    main article h5 {
        font-size: 20px;
    }
    section.reviews h5 {
        font-size: 18px;
    }
}

@media screen and (max-width: 819.98px) {
    main {
        flex-basis: 100%;
        border-right: 0;
        border-bottom: 1.5px solid #222;
    }
    article#leftArticle {
        flex-basis: 100%;
        padding: 0 0 1em 0;
        margin-bottom: 1em;
        border: 0;
        border-bottom: 1px solid #222;
    }
    article#rightArticle {
        flex-basis: 100%;
        padding: 0 0 1em 0;
    }
    .additionalPart {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
    }
    section#additionalNews,
    aside#adPost {
        flex-basis: 50%;
    }
    aside#adPost {
        margin: 0 0 0.5em 0;
    }
}

@media screen and (max-width: 699.98px) {
    h1 {
        font-size: 72px;
    }
}

@media screen and (max-width: 589.98px) {
    section#mainNews h2 {
        font-size: 46px;
    }
    section#mainNews p {
        font-size: 28px;
    }
    section#additionalNews,
    aside#adPost {
        flex-basis: 100%;
    }
    aside#adPost {
        margin: 10px;
    }
}

@media screen and (max-width: 529.98px) {
    h1 {
        font-size: 64px;
    }
}

@media screen and (max-width: 479.98px) {
    h1 {
        font-size: 56px;
    }
    section#mainNews h2 {
        font-size: 38px;
    }
    section#mainNews p {
        font-size: 24px;
    }
}

@media screen and (max-width: 419.98px) {
    h1 {
        font-size: 48px;
    }
    section#mainNews h2 {
        font-size: 30px;
    }
    section#mainNews p {
        font-size: 22px;
    }
}

@media screen and (max-width: 369.98px) {
    h1 {
        font-size: 40px;
    }
    header#mainHeader p time,
    header#mainHeader nav ul li a {
        font-size: 14px;
    }
    header#mainHeader nav ul li {
        padding: 0 5px;
    }
}